<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/edit-item" method="post">
    <input type="hidden" value="{{id}}" name="editChar"/>
    <input type="text" placeholder="Name" name="charName"/>
    <input type="text" placeholder="Title" name="charTitle"/>
    <input type="text" placeholder="Genre" name="charGenre"/>
    <input type="text" placeholder="Medium" name="charMedium"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>